@import url("https://fonts.googleapis.com/css?family=Gothic+A1:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans:400");
* {
  list-style: none;
  margin-bottom: 0;
  font-family: "Gothic A1", "Montserrat";
  font-size: 14pt;
  font-weight: 400;
  color: #181818;
  scroll-behavior: smooth;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h2 {
  font-family: "Black Han Sans";
  font-style: italic;
  font-weight: 400;
  color: #5cbbe4;
}

h5 {
  font-weight: 600;
}

#nav {
  left: 0;
  right: 0;
  z-index: 10;
  background-color: transparent;
  transition: 0.5s;
}

#nav a img {
  width: 100%;
  background-color: transparent;
}

#nav .d1 {
  display: flex;
}

#nav li {
  position: relative;
  margin: 0 1rem;
}

#nav ul li a {
  font-family: "Gothic A1";
  font-size: 14pt;
  font-weight: 600;
  color: #181818;
}

.scroll #nav {
  background-color: rgba(255, 255, 255, 0.8274509804);
}

.scroll .logo {
  filter: invert(45%) sepia(65%) saturate(4766%) hue-rotate(237deg) brightness(99%) contrast(105%);
}

#allMenu {
  display: block;
  position: relative;
  font-size: 1rem;
  margin-right: 20px;
  background-color: transparent;
  border: 0;
  padding: 0;
}

#allMenu i {
  font-size: 1.5rem;
}

.scroll #nav #allMenu i {
  color: white;
}

#intro {
  background-color: #8758ff;
  height: 600px;
}

#btn {
  border: #181818;
  background-color: white;
  color: #181818;
}

#preInterview dl dd {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}

#contact {
  position: relative;
  align-items: center;
}

#qm {
  display: block;
  position: fixed;
  right: 20px;
  bottom: 15px;
  z-index: 8;
}

#qm i {
  display: block;
  align-items: center;
  justify-content: center;
  padding: 7px;
  margin-bottom: 7px;
  font-size: 1rem;
  color: #8758ff;
  background-color: #f2f2f2;
  border-radius: 50%;
}

#qm .more i:hover {
  color: #f2f2f2;
  background-color: #8758ff;
}

#allMenu.open + .d1 {
  display: block !important;
  position: absolute;
  background-color: black !important;
  left: 0;
  right: 0;
  padding: 20px;
  top: 100%;
  transition: 0.5s;
}

#allMenu.open + .d1 a {
  color: white;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #181818;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 720px) {
  #nav li a::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 0;
    margin: auto;
    bottom: 0;
    height: 2px;
    transition: 0.5s;
    background-color: #8758ff;
  }
  #nav a:hover::after {
    width: 100%;
  }
  #nav a img {
    width: 80%;
  }
  #qm i {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 7px;
    font-size: 1.7rem;
    color: #8758ff;
    background-color: #f2f2f2;
    border-radius: 50%;
  }
}